@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #6dc8e9;
  border-radius: 30px;
}

.main-head {
  color: #5483ef;
  font-size: 30px;
  text-decoration: solid;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  border: #19050b;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #5483ef;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.7);
  border-bottom: 3px solid #6dc8e9;
  border-radius: 30px;
}

/*blog preview / list output in home */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #6dc8e9;
  border-radius: 30px;
}

.blog-preview:hover {
  box-shadow: 5px 8px 3px rgba(51, 50, 50, 0.7);
  transition: box-shadow 0.3s ease-in-out
}

.title {
  font-size: 20px;
  color: #5483ef;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

/*blog details */
.blogDetails h2 {
  font-size: 30px;
  color: #5483ef;
  margin-bottom: 10px;
}

.blogDetails p {
  margin: 20px 0;
  text-align: justify;
}

.blogDetails button {
  background: #5483ef;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h1 {
  font-size: 20px;
  color: #5483ef;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #5483ef;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}